body {
    background-image: url('/Users/ramgautam/Desktop/RoboChain/RoboChain/Images/table.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: "Comic Sans MS";
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(10, 50px); 
    grid-template-rows: auto;
    grid-row-gap: 1px; 
    grid-column-gap: 1px; 
    justify-content: flex-end; 
}

.grid-item {
    width: 50px; 
    height: 50px; 
    background-color: lightblue; 
    border: 1px solid #000; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px; 
}

#btn-create-grid {
    position: absolute;
    top: 10px;
    left: 5px;
}

#btn-robot-cost{
    position: absolute;
    top: 10px;
    left: 120px;
}

div {
    margin-left: auto; 
}

.txtBoxContainer {
    text-align: center;
    position:absolute;
    top: 50px;
    left: 5px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    left: 5px;
}

/*starting VecChian features here */

.veChain {
    text-align: center;
    position:absolute;
    top: 100px;
    left: 5px;
}

#btn-connect-Vechain{
    position: absolute;
    top: 50px;
    left:5px;
}

